<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>About us</title>
        <link href="/static/style.css" rel="stylesheet" type="text/css">
    </head>

    <body>
    {% include "navmenu.html" %}

        <h1>About us....</h1>

    <nav aria-label="breadcrumb" class="breadcrumb">
    <li class="breadcrumb-item active"><a href="/">Home</a></li>
    <li class="breadcrumb-item" aria-current="about">About me</li>
    <li class="breadcrumb-item"><a href="portfolio">Portfolio</a></li>

  </ol>
</nav>

        <p>Welcome to About me page! Here you will find great moments from my live</p>
    <img width="600" align="center`" src="/static/images/newimage.jpg">




    </body>
</html>