{% block content %}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">My CV & Portfolio blog</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/" data-toggle="tooltip" title="HomePage" data-placement="left">Home</a></li>
      <li><a href="about" data-toggle="tooltip" title="Want to know more? Click on me! :)">About me</a></li>
      <li><a href="portfolio" data-toggle="tooltip" title="Do you want to see something interesting? :)">My Portfolio</a></li>
      <li><a href="contacts" data-toggle="tooltip" title="Contact me my Friend! :)">Contacts</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="sign_up"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>
{% endblock content %}